.header {
  position: absolute;
  top: 33px;
  width: 100%;
  color: #fffefc;

  .container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
  }

  .logo {
    width: 230px;
    height: 32px;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    width: 465px;
  }

  .contacts {
    display: flex;
    gap: 30px;

    .social-media {
      display: flex;
      gap: 15px;
    }
  }
}
