.titles {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .title {
    max-width: 785px;
    line-height: 1.5;
  }

  &.normal {
    .title {
      font-weight: 300;
      font-size: 42px;
    }
  }

  &.compact {
    .title {
      font-weight: 400;
      font-size: 24px;
    }
  }

  &.vertical {
    flex-direction: column-reverse;

    &.normal {
      gap: 46px;
    }

    &.compact {
      gap: 40px;
    }
  }

  &.light {
    color: #fffefc;
  }
}

@media (max-width: 800px) {
  .titles {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &.normal {
      flex-direction: column-reverse;
      gap: 10px;

      .title {
        font-size: 32px;
      }
    }

    &.compact {
      .title {
        font-size: 18px;
      }
    }

    &.vertical {
      &.normal {
        gap: 12px;
      }
    }

    .title {
      max-width: 570px;
    }
  }
}

@media (max-width: 360px) {
  .titles {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &.vertical {
      gap: 30px;
    }

    &.normal {
      flex-direction: column-reverse;
      gap: 10px;

      .title {
        font-size: 22px;
      }
    }

    &.compact {
      .title {
        font-size: 15px;
      }
    }

    &.vertical {
      &.normal {
        gap: 10px;
      }
    }

    .title {
      max-width: 100%;
    }
  }
}
